.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keyur {
  background-image: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29mZmVlJTIwc2hvcHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.imagehome {
  background-image: url("https://res.cloudinary.com/trends-publishing/image/upload/dpr_1.0,g_center,w_760/f_auto,q_auto:best/cb_1220571504140671.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.test {
  flex-direction: column;
}


@keyframes spinPizza {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pizza {
  transition: transform 0.5s;
  animation: spinPizza 5s linear infinite;
}

.pizza:hover {
  transform: scale(1.2);
}


@keyframes moveBurger {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

.burger {
  animation: moveBurger 2s ease-in-out infinite;
  transition: transform 0.5s;
}

.burger:hover {
  transform: scale(1.2);
}

.foodcard {
  transition: transform 0.5s;
}

.foodcard:hover {
  transform: scale(1.1);
}

.hamburger {
  animation: bounce 2s ease-in-out infinite;
}

.fastfood {
  transition: transform 0.5s;
}

.fastfood:hover {
  transform: scale(1.2);
}

.rating{
    position: absolute;
    top: 9px;
    right: 10px;
    color:white;
    background-color:#ae00ff; 
    padding: 10px;
}

.foodbutton {
  background-color: rgb(255, 170, 0); 
  color: white; 
  font-size: 20px; 
  padding: 13px 20px;
  border-radius: 5px; 
  text-align: center; 
  text-decoration:wavy; 
  transition: transform 0.5s;
}

.foodbutton:hover {
  background-color: red; 
  cursor: pointer;
  transform: scale(1.2);
}

.breakfast-button {
  box-shadow: 2px 2px 2px #805300; 
}

.breakfast-button:hover {
  box-shadow: 4px 4px 4px #805300;
}